---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="cubed.garden - mod installation">
	<p>
		this is a step-by-step guide on how to install simple voice chat using
		fabric as if you have never installed minecraft mods before.
		<br />
		steps 0 and 1 can be safely skipped if you already have fabric installed.
		<!-- <br />
		if you're on mac or want to play with an (optional) modpack designed specifically
		for this server, check out the
		<a href="/help/pack">modpack guide</a>. -->
	</p>
	<p>
		step 0: download
		<a href="https://fabricmc.net/use/installer/" target="_blank">fabric</a>
		<br /><br />
		step 1: download the
		<a href="https://modrinth.com/mod/fabric-api" target="_blank">
			fabric api
		</a>
		<br />
		step 2: download <a
			href="https://modrinth.com/plugin/simple-voice-chat/version/fabric-1.20.1-2.4.16"
			target="_blank"
		>
			simple voice chat
		</a>
		<br /><br />
		step 3: navigate to <code>C:/Users/[username]/AppData/Roaming/.minecraft</code>
		<br />
		<span style="font-size: 0.8rem">
			hint: in order to reach <code>/AppData/Roaming</code> type <code>%appdata%</code> in the
			search menu
		</span>
		<br /><br />
		step 4: create a folder called <code>mods</code> inside <code>/.minecraft</code>
		<br /><br />
		step 5: paste the fabric api and simple voice chat files into <code>/.minecraft/mods</code>
		<br /><br /><br /><br /><br />
		congratulations, you have installed the simple voice chat mod (and the fabric
		mod loader)! press capslock to talk and v for more settings.
		<br /><br />
		refer to the <a
			href="https://modrinth.com/plugin/simple-voice-chat"
			target="_blank">mod page</a
		> for further information on the mod if you're interested.
	</p>
</Layout>
