---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cubed.garden - gardeners">
	<p>
		cubed.garden is hosted by
		<a href="https://yhvr.me/" target="_blank">yhvr</a>,
		<a href="https://demonin.com/" target="_blank">demonin</a>, and
		<a href="https://flamemasternxf.github.io/" target="_blank">
			flamemasternxf
		</a>
	</p>
</Layout>
