---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cubed.garden">
	<h2>cubed.garden</h2>
	<p>
		cubed.garden is a Minecraft SMP with proximity voice chat and regular
		events. the address is <code>cubed.garden</code>.
	</p>
	<p style="margin-top: 1rem">
		it runs on minecraft 1.20.1 and requires the simple voice chat mod,
		thought you don't have to speak.
	</p>
	<p style="margin-top: 1rem">
		✅ nether roof
		<br/><br/>
		✅ end
		<br/><br/>
		✅ land claims
		<br/><br/>
		✅ toggle pvp
		<br/><br/>
		❌ /sethome
		<br/><br/>
		❌ keep inventory
		<br/><br/>
		✅ graves
		<br/><br/>
		✅ waystones (for fast travel)
		<br/><br/>
		ℹ will last for 2 months
		<br/><br/>
		ℹ 5000x5000 world border, may expand in the future
	</p>
</Layout>
