---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cubed.garden - rules">
	<h2>rules</h2>
	<ol>
		<li>no griefing or stealing, period.</li>
		<li>
			you can RDM (random death-match) ONLY people who have PvP turned on.
			use <code>/togglepvp</code> to change your PvP status.
		</li>
		<li>
			just... don't be a bad person? please? i really hope i don't have to
			spell it out for you.
		</li>
		<li>we'll know you did it if you fuck shit up.</li>
		<li>re-read rule 3</li>
	</ol>
</Layout>
