html{
    background: black;
}
div{
    font-family: Inter;
}
p{
    font-family: Inter;
}
h2{
    font-family: Inter;
}
h3{
    font-family: Inter;
}
.flexBox {
    display: flex;
    align-items: center;
    place-content:center
}
.generalTexts{
    color: white;
}
.centeredTexts{
    color: white;
    text-align: center;
}
.page{
    margin-top: 2rem;
    flex-direction: column;
}